body {
  background-color: #1E293B !important;
  font-family: 'Montserrat', sans-serif !important;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0px 10px 3px 16px;
}

.name {
  font-size: 21px;
  font-weight: 500;
  color: #7148FC;
  margin-bottom: 0px;
}

.heading {
  font-weight: 400;
  text-align: left;
  padding: 10px;
  color: #1E293B;
}

.user-card {
  display: flex;
  padding: 5px;
  align-items: center;
}

.user-card img {
  width: 70px;
  border-radius: 50%;
  height: 70px;
}

.actions, .actions-loader {
  align-self: rightt;
  flex: 1 0 auto;
  display: flex;
  justify-content: end;
}

.actions span {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #7148FC;
  border-radius: 7px;
  margin-right: 10px;
  color: #7148FC;
  cursor: pointer;
}

.actions span:hover {
  color: white;
  background-color: #7148FC;
}

.avatars img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0px 10px;
  object-fit: contain;
}

.image-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff000054;
  top: 0;
  left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.avatar-images {
  display: flex !important;
  flex-wrap: wrap;
}

.error-message {
  color: red;
  font-size: 12px;
}